*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
form header{
    display: flex;
    justify-content: space-between;
}
form header ion-icon{
    font-size: 30px;
    color: #555;
    cursor: pointer;
}
