*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container h2{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.container .box{
    padding: 10px;
    height: 100%;
    width: calc(100% /3 - 10px);
    border-radius: 5px;
    border: 1px solid #cacaca;
}
